/* Parallax base styles
  --------------------------------------------- */

  .parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
  }

  .parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .gap {
    margin-top: 1500px;
  }


/* these are the different layer types - pushing them further back (translateZ which is basically scroll speed) while maintaining relative scale
 le equation [1 + (translateZ * -1) / perspective] in this case our perspective is 300px */
  .parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }
  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

  /* this is slightly further away and therefore slower the regular base  */
  .parallax__layer--base2 {
    -webkit-transform: translateZ(-150px) scale(1.5);
    transform: translateZ(-150px) scale(1.5);
    z-index: 4;
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-375px) scale(2.25);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }

  .parallax__layer--back2 {
    -webkit-transform: translateZ(-450px) scale(2.5);
    transform: translateZ(-450px) scale(2.5);
    z-index: 3;
  }

  .parallax__layer--back3 {
    -webkit-transform: translateZ(-525px) scale(2.75);
    transform: translateZ(-525px) scale(2.75);
    z-index: 3;

  }
/* logo */
  .parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
  }

/* lil clouds */
  .parallax__layer--deep2 {
    -webkit-transform: translateZ(-675px) scale(3.25);
    transform: translateZ(-675px) scale(3.25);
    z-index: 2;
  }

/* cloud 1 */
  .parallax__layer--deep3 {
    -webkit-transform: translateZ(-750px) scale(3.5);
    transform: translateZ(-750px) scale(3.5);
    z-index: 2;
  }

/* cloud 2 */
  .parallax__layer--deep4 {
    -webkit-transform: translateZ(-825px) scale(3.75);
    transform: translateZ(-825px) scale(3.75);
    z-index: 2;
  }

/* sky and stars */
  .parallax__layer--deep5 {
    -webkit-transform: translateZ(-900px) scale(4);
    transform: translateZ(-900px) scale(4);
    z-index: 2;
  }



  /* Debugger styles - used to show the effect
  --------------------------------------------- */
  .nav-item:hover {
    animation: shadow 1s ease-out alternate infinite;

  }

  @keyframes shadow {
    0% {
      text-shadow: 2px 2px 4px rgba(0,0,0,.1);
    }
    100% {
      text-shadow: 2px 2px 4px rgba(0,0,0,.5);
    }
  }
  .nav {
    position: sticky;
    width: 100%;
    top: 15px;
    z-index: 999;
    /*background: rgba(0,0,0,.85); */
    color: #fff;
    padding: 0 .5em;
    border-radius: 0 0 5px 5px;
    z-index: 8;
  }
  .nav-item {
    display: inline-block;
    position: relative;
    padding: 0;
    color: inherit;
    text-decoration: none;
    float: left;
  }

  .ni-icon {
    margin: 0;
    margin: 1em 100% 0em 2em;
  }

  .ni-text {
    margin: 2em 100% 2em 0em;

  }

  .debug {
    position: fixed;
    top: 0;
    left: .5em;
    z-index: 999;
    background: rgba(0,0,0,.85);
    color: #fff;
    padding: .5em;
    border-radius: 0 0 5px 5px;
  }
  .debug-on .parallax__group {
    -webkit-transform: translate3d(800px, 0, -800px) rotateY(30deg);
    transform: translate3d(700px, 0, -800px) rotateY(30deg);
 }
  .debug-on .parallax__layer {
    box-shadow: 0 0 0 2px #000;
    opacity: 0.9;
  }
  .parallax__group {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }


  /* demo styles
  --------------------------------------------- */

  body, html {
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
  }

  body {
    font: 100% / 1.5 'Raleway', sans-serif;;
    color: #fff;
    background-color: #425868;
  }

  * {
    margin:0;
    padding:0;
  }

  .parallax {
    font-size: 100%;
  }

   /* moves the content within the parallax layers */
  .box {
    text-align: center;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  /* additions to box class */

  .b-left {
    left: 80%;
  }

  .b-bottom {
    top: 85%;
  }

  /* specific changes to boxes */

  .bio {
    margin-top: 60vh;
  }

  #bio-contact {
    margin-top: 55vh;
  }

  .section-hero {
    margin: 10vh auto 12vh;
    width: 300px;
    height: 300px;
    border-radius: 50%;


  }

  #me-img {
    background-image: url(media/photos/me.png);
    background-repeat: no-repeat;
    background-size: 450px auto;
    background-position: -70px 0px;
  }

  .center {
    position: relative;
    left: 50%;
    top: 50%;
    transition: translate(-50%, -50%);
  }

  #contact-img {
    background-image: url(media/drawings/index_drawings/contact-hero.png);
    background-size: 300px 300px;
    background-position: center;
    background-repeat: no-repeat;
  }
  /* text styles
  font-family: 'Vollkorn SC', serif;
font-family: 'Raleway', sans-serif;
  */

  .hero-text {
    text-align: center;
    width: 40vw;
    font-family: 'Raleway', sans-serif;
  }

  .h-center {
    margin: 28vw auto 0;
  }

  .h-top {
    margin: 10vw auto;
  }

  .para {
    text-align: left;
    left: 26vw;
    top: 15vw;
    width: 30vw;
  }

  ul {
    list-style-type: none;
    text-align: left;
    line-height: 2;
  }

  p {
    line-height: 1.5;
  }




  /* grid styles */
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    background-color: white;
    width: 80vw;
    margin: 0vw auto;
  }

  .w-contact {
    margin-top: 5vh;
  }

  .w-project {
    grid-template-columns: 1fr 1fr;
    background-color: #4e7474;
  }

  .cell {
    background-color: #4e7474;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    font-size: auto;
    color: white;
    line-height: 1;
    font-weight: 200;
  }

  .cell-icon {
    position: relative;
    width: 100%;
    max-width: 350px;
    margin: 5vh;
    z-index: 1;

  }

  .cell-title {
    position: relative;
    top: 0px;
    min-height: 64px;
    z-index: 0;

  }

  .cell-desc {
    min-height: 120px;
    width: 25vw;
  }
  a {
    list-style-type: none;
    text-decoration: none;
    color: #fff;
  }

  /* project and contact grid styles */

  .cell-img {
    width: 20vh;
    height: 20vh;
    margin: 5vh;
  }

  .cell-img-contact {
    width: 15vh;
    height: 15vh;
    margin: 2vh;
  }

/* my work button */
#work-img { background-image: url(media/drawings/index_drawings/work.png);
            background-size: 15vh 15vh;
            background-position: center;

}

#work-img-link {
  align-content: center;
}
/* contact hero button */

 #link-img {  background-image: url(media/drawings/index_drawings/linkedin.png);
              background-size: 15vh 15vh;
              background-position: center;

 }

 #cv-img {  background-image: url(media/drawings/index_drawings/cv_scroll.png);
  background-size: 15vh 15vh;
  background-position: center;

}

#email-img {  background-image: url(media/drawings/index_drawings/email.png);
  background-size: 15vh 15vh;
  background-position: center;

}


  /* style the groups and containers
  --------------------------------------------- */

  /* group1 (foreground)
  --------------------------------------------- */

  #group1 {
    z-index: 5; /* slide over group 2 */
  }

  /* foreground of hero image - (tree and swing) */
  #group1 .parallax__layer--base {
    background: url(media/drawings/hero_drawings/hero1.png);
    min-width: 1440px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left bottom;
  }

  /* still foreground but just the right patch of grass */

  #group1 .parallax__layer--base2 {
    background: url(media/drawings/hero_drawings/hero2.png);
    min-width: 1440px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  /* midground of hero image -  (water and floating island) */

  #group1 .parallax__layer--back {
    background: url(media/drawings/hero_drawings/hero3.png);
    min-width: 1440px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left bottom;
  }
/* midground of hero image -  (rest of the trees) */
  #group1 .parallax__layer--back2 {
    background: url(media/drawings/hero_drawings/hero4.png);
    min-width: 1440px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left bottom;
  }
/* midground of hero image -  (rest of the trees) */
  #group1 .parallax__layer--back3 {
    background: url(media/drawings/hero_drawings/hero5.png);
    min-width: 1440px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left bottom;
  }

/* background - logo */
  #group1 .parallax__layer--deep {
    background: url(media/drawings/hero_drawings/hero6.png);
    min-width: 1440px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left bottom;
  }
/* background - lil clouds */
#group1 .parallax__layer--deep2 {
  background: url(media/drawings/hero_drawings/hero7.png);
  min-width: 1440px;
  background-size: 100%;
  background-repeat: repeat;
  background-position: left bottom;
}
/* background - cloud1 */
#group1 .parallax__layer--deep3 {
  background: url(media/drawings/hero_drawings/hero8.png);
  min-width: 1440px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left bottom;
}
/* background - cloud2 */
#group1 .parallax__layer--deep4 {
  background: url(media/drawings/hero_drawings/hero9.png);
  min-width: 1440px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left bottom;
}
/* background - sky and stars */
#group1 .parallax__layer--deep5 {
  background: url(media/drawings/hero_drawings/herosky.png);
  min-width: 1440px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left bottom;
}
/* The 'about me' section */

  #group2 {
    z-index: 6; /* slide over groups 1 and group 3 */
  }
  #group2 .parallax__layer--fore {
    background: none;
  }

.parallax__layer--base {
    background: #4e7474;
  }

/* The things i do section */

#group3 {
    z-index: 6; /* making it on the same index as group 2 for now. clean up later */

    /* slide over group 1 and group 4 */
}
/* portfolio / some things ive worked on section */

#group4 {
  z-index: 6; /* slide under group 3 */
}

#group5 {
  z-index: 5; /* slide under group 4 */
}

  /* for da phone*/

  @media screen and (max-width: 850px) {
    .wrapper {
      grid-template-columns: 1fr;
  }
